* {
    padding: 0;
    margin: 0 auto;

}

body {
    background-color: rgb(32, 28, 27);
}

.header img {
    height: 80px;
    width: 120px;
    margin-left: 2.5%;
}

.banner img {
    margin-top: 80px;
    width: 95.2%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(32, 28, 27);
    width: 100%;
    z-index: 2;
}

/* menu */

.menu {
    position: fixed;
    top: 2em;
    right: 10em;
    display: flex;
    margin-right: 5px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 20px
}

.menu li:hover a {
    font-size: 25px;
}

/* tìm kiếm và nhập text */
.search {
    position: fixed;
    top: 1.4em;
    right: 2.5%;
    background-color: white;
    width: 120px;
    padding: 5px 5px;
}

.search button {
    border: 0;
    background-color: white;
}

.search input {
    border: 0;
    width: 100px;
    padding: 5px 0;
}

/* hamburger icon */
.nav-bar .container {
    position: fixed;
    top: 1.1em;
    right: 7.8em;
    font-size: 20px;
}

.nav-bar {
    display: none;
}

/* phần thân trên */
.imgCol1 img,
.imgCol2 img,
.imgCol3 img,
.imgCol4 img {
    width: 99%;

}

.content-top,
.content-bottom {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto;
    justify-content: space-between;
    margin: 0 2.5%;
}



.main-content button {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2.5%;
    height: 50px;
    width: 95.2%;
    background-color: rgb(32, 40, 43);
    border: 0;
    color: #fff;
    font-size: 20px;
}

.imgCol1,
.imgCol2,
.imgCol3,
.imgCol4 {
    border: 2px solid #fff;
}

.imgCol1 h3,
.imgCol2 h3,
.imgCol3 h3,
.imgCol4 h3 {
    color: rgb(125, 60, 186);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 10px;
}

.imgCol1 p,
.imgCol2 p,
.imgCol3 p,
.imgCol4 p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.imgCol1 img:hover,
.imgCol2 img:hover,
.imgCol3 img:hover,
.imgCol4 img:hover {
    z-index: 1;
    opacity: 0.5;
}
.main-content button:hover{
    background-color: rgb(17, 210, 17);
}
.footer{
    width: 95.2%;
    display: flex;
    justify-content: space-between;
}
.footer img {
    height: 80px;
    width: 150px;
    margin-left: 2.5%;
}
.footer i{
    color: #fff;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    background-color: #313030;
    position: relative;
    bottom: -20px;
}
.footer i:hover{
    opacity: 0.7;
}
