.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 35px 35px 35px;
    text-align: center;
    border: 2px solid #36b87d;
    background-color: #bce2c9;
}
.header{
    grid-area: 1/1/2/4;
    border: 2px solid #36b87d;
}
.menu{
    grid-area: 2/1/4/2;
    border: 2px solid #36b87d;
}
.footer{
    grid-area: 3/2/4/4;
    border: 2px solid #36b87d;
}
.main, .right{
    border: 2px solid #36b87d;
}